
.myClass{
    font-size: large;
    color: black;
    background: #ae4141;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.icon {
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;              /* takes remaining space */
  gap: 20px;
}
/* Home */




